@import '../../node_modules/minireset.css/minireset.min.css';
@import '../../node_modules/normalize.css/normalize.css';

@import 'constants';


body {
  font-family: "Inter-Regular", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#1f1f1f;
  margin:0px;
  padding:0px;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004) !important;
  text-rendering: optimizeLegibility;
}

ul {
  list-style-type: none;
  padding:0px;
  margin: 0px;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}
a:hover {
	text-decoration: underline;
}

.no-display {
  display: none !important; 
}

.hidden {
  visibility: hidden !important;
  opacity: 0;
}

.inline {
  display: inline-block;
}

.margin-centered {
  margin: 0 auto;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic; 
}


body {
	font-size: 18px;

	p {
		margin-bottom: 16px;
	}
}

.app-container {
	// border: 1px solid pink;
	display: flex;
	flex-direction: row;

	margin: 0 auto;
	margin-top: 64px;
	max-width: 710px;

	box-sizing: border-box;
}

.content-container {
	// border: 1px solid red;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	width: 540px;
	max-width: 540px;
	padding: 8px;
}

.left-nav {
	flex: 1 1 auto;
	width: 170px;
	max-width: 170px;

	padding: 16px;
	box-sizing: border-box;

	font-size:14px;

	.self-portrait {
		background-image: url('../images/ai-portrait.jpg');
		background-size: cover;
		height: 120px;
		width: 120px;
		margin-bottom: 16px;
	}

	.name {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 16px;
	}

	.job-title {
		margin-bottom: 16px;
	}

	.links {
		li {
			margin: 8px 0;
			display: flex;
			align-items: center;
		}
	}

	.icon {
		display: inline-block;
		margin-right: 4px;
		background-size: cover;
		opacity: 0.8;
	}
	.icon.twitter-icon {
		background-image: url('../images/twitter-icon.svg');
		width: 14px;
		height: 14px;
	}
	.icon.git-icon {
		background-image: url('../images/git-icon.svg');
		width: 14px;
		height: 14px;
	}
	.icon.email-icon {
		background-image: url('../images/email-icon.svg');
		width: 14px;
		height: 14px;
	}
}

.page-nav ul.menu-items {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	li {
		@include disable-selection;
		padding: 8px;
		min-width: 32px;
		font-weight: bold;
	}
	li:first-child {
		padding-left: 0px;
	}
	li:last-child {
		padding-right: 0px;
	}

	.page-nav-link {
		opacity: 0.5;
		transition: 0.2s ease-out;
		.underline {
			height: 2px;
			margin: 0 auto;
			width: 0%;
			background: transparent;
			transition: 0.2s ease-out;
		}
	}
	.page-nav-link.selected {
		opacity: 1.0;
		.underline {
			width: 100%;
			background: black;
		}
	}
	.page-nav-link:hover {
		opacity: 1.0;
		cursor: pointer;
	}
}

.section-header {
	font-weight: bold;
	margin-bottom: 12px;
}

.section {
	margin-top: 16px;
	margin-bottom: 32px;

	line-height: 24px;
}

// Media queries
@media (max-width: $max-mobile-width) {
	.app-container {
		flex-direction: column !important;
	}

	.content-container {
		width: 100% !important;
	}

	.left-nav {
		width: 100%;
		max-width: 100%;
		display: flex;
		flex-direction: row;
		padding: 8px;

		.name {
			font-size: 24px;
		}

		.self-portrait {
			display: none;
		}

		.job-title {
			line-height: 18px;
		}
	}
}