@import 'constants';

$note-color: #777;

.research-container {
	a {
		color: $link-color;
	}
	a:hover {
		text-decoration: underline;
		cursor: pointer;
	}

	font-size: 16px;
}

ul.publications li {
	margin: 16px 0;

	a {
		color: $link-color;
	}
	a:hover {
		text-decoration: underline;
	}

	.title a {
		color: black;
	}

	.note {
		display: flex;
		flex-direction: row;
		color: $note-color;
		font-style: italic;
	}
	.note a {
		color: $note-color;
	}
}
