# virtualenv
.venv

# node modules
node_modules/

# build
static/build/

.DS_Store
package-lock.json
__pycache__/


# Local Netlify folder
.netlify

# Generated sitemap
sitemap.xml

# books data
books.csv