body {
	font-family:"HelveticaNeue";
	color:#1f1f1f;
	text-align:center;
  margin:0px;
  padding:0px;
}

ul {
  list-style-type: none;
  padding:0px;
  margin: 0px;
}

#bio {
	display:inline-block;
	text-align:left;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bio-content {
  flex: 0 0 auto;
	display:inline-block;
  padding: 24px;
  margin-top: auto;
  margin-bottom: auto;
}

#bio-content .summary {
  font-size: 24px;
  margin-bottom: 48px;
  max-width: 400px;
  letter-spacing: 0.5px;
}

.content-group {
  margin: 24px 0;
  font-size: 14px;
  text-transform: uppercase;
  max-width: 400px;
}

.content-group .section-header {
  font-weight: bold;
  color:#1f1f1f;
}

.content-group ul > li {
  margin: 4px 0;
  letter-spacing: 0.5px;
}

div.centered {
	margin: 0 auto;
}

.bold {
  font-weight: bold;
}

/* unvisited link */
a:link, a:visited, a:hover, a:active {
	color:#0088ff;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

div.txt-cursor {
	width: 2px;
	height: 24px;
	display: inline-block;
	background: #1f1f1f;
	position: relative;
	top: 2px;
	margin-left: 0px;
}

.years {
  opacity: 0.5;
  float: right;
  letter-spacing: 0px;
}

/* animation */

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.0; }
    to { opacity: 1.0; }
}                                                                                                                                                                                                                                  
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.0; }
    to { opacity: 1.0; }
}
@-moz-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.0; }
    to { opacity: 1.0; }
}

.blink {
  animation:fade 1.5s infinite;
  -webkit-animation:fade 1.5s infinite;
  -moz-animation:fade 1.5s infinite;
}