body {
	font-family:"HelveticaNeue";
	color:#000;
	text-align:center;
}

ul {
  list-style-type: none;
  padding:0px;
  margin: 0px;
}

#bio {
	display:inline-block;
	margin-top: 120px;
	text-align:left;
}

#bio-content {
	display:inline-block;
}

#bio-content .summary {
    font-size: 24px;
    margin-bottom: 72px;
    max-width: 520px;
}

.content-group {
    margin: 24px 0;
    font-size: 14px;
    text-transform: uppercase;
}

.content-group .section-header {
    font-weight: bold;
    color: black;
}

.content-group ul > li {
    margin: 4px 0;
}

div.centered {
	margin: 0 auto;
}

.bold {
    font-weight: bold;
}

/* unvisited link */
a:link, a:visited, a:hover, a:active {
	color:#0088ff;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

div.txt-cursor {
	width:8px;
	height:18px;
	display:inline-block;
	background: #aaa;
	position:relative;
	top:2px;
	margin-left:4px;
}

/* animation */

.blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}